.topBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 110px;
  margin-top: 40px;
  max-width: 45vw;
}

.buttons a{
  /*height: 20px;  
  width: 45px; */  
  color: #525A64 !important; 
  font-family: Lato; 
  font-size: 18px;   
  font-weight: 500;  
  line-height: 20px;
}

.clicked a{
  /*height: 20px;  
  width: 45px; */  
  color: #5E77FF;    
  font-family: Lato; 
  font-size: 18px;   
  font-weight: 500;  
  line-height: 20px; 
}

.line{
  box-sizing: border-box;    
  height: 22px;  
  width: 1.5px;  
  background-color: #DBD9DB;
}

li {
  list-style-type: none;
}