.Header {
    margin-left: 40px;
    margin-top: 20px;
      height: 20px;
      width: 81px;
      color: #525A64;
      font-family: Lato;
      font-size: 28px;
      font-weight: 500;
      line-height: 20px;
  }