.card {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    border: 1px solid #DBD9DB;	
    background: rgba(255, 255, 255, 0.4);
    box-shadow: -5px 5px 20px 0 rgba(30,30,30,0.03);
    min-width: 800px;
    
}

.pilot{
    margin-top: 60px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right:25px;
}

.title{
    color: #2A2C2E;	
    font-family: 'Lato', sans-serif;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 23px;
    margin-bottom: 8px;
}

.learnMore{
    text-decoration: none;
    color: #5E77FF;	
    font-family: Lato;	
    font-size: 14px;	
    font-weight: 500;	
    line-height: 15px;
}

a:visited{
    color:#5E77FF;
}

.companyRectangle{
    padding: 6px 14px 6px 14px;
    font-size: 10px;
    color: white;
    height: 25px;	
    width: 78px;	
    border-radius: 4px;	
    white-space: nowrap;
}

.caseButton {
    background-color:#5E77FF;;
    border: none;
    color: white;
    padding: 7px 18px 7px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border-radius: 14px; 
    white-space: nowrap;
}

.row{
    padding-top: 15px;
    width: 100%
}

.center{
    padding-left: 30px !important; 
}

